.article {
  padding: 1rem;
  border: 0.0625rem solid rgb(150, 150, 150);
  box-shadow: 0.3125rem 0.3125rem 0.3125rem #ccc;
  text-align: justify;
  overflow: auto;
}

.article_image {
  height: 50%;
  background-size: cover;
}
