@use '../../styles/variables';

.input {
    margin: 0 1rem;
    padding: 0 1rem;
    border-radius: 10px;
    font-size: 1.1rem;
    background-color: rgb(163, 163, 163);
    color: white;
    &:focus {
      outline: none;
    }
    @media (max-width: variables.$mobile-nav-size) {
      width: 75%;
    }
  }