@use '../../../styles/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: variables.$main-color;
  color: white;
  z-index: 100;
  transition: all 0.3s ease-out;
}

.sidebar_opened {
  transform: translateX(0);
  opacity: 1;
}

.sidebar_closed {
  opacity: 0;
  transform: translateX(-100%);
}

.toggler {
  position: fixed;
  top: 15px;
  left: 0;
  z-index: 200;
}

.toggler_closed {
  display: none;
}
