@use '../../../styles/variables';

.first_line {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(7, 107, 165);
  color: white;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.desktop {
  display: none;
  @media screen and (min-width: variables.$mobile-nav-size) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(7, 107, 165);
  color: white;
  @media screen and (min-width: variables.$mobile-nav-size) {
    display: none;
  }
}
